{% extends 'realapp/base.html' %}
{% load staticfiles %}

{% block content %}


        <h1>home</h1>
        <h3>hi {{request.user.name}} ,</h3>


        <br/>



            <!--{% if object_list %}-->
<div class="row">
                {% for item in object_list %}

                     <div class="col-md-4">

                            <div class="card"  style="background-color:white">

                                    <a href="{% url 'realapp:details' item.id %}" >{{ item.item_title }}</a>
                                 <img class="card-img-top" width=200px height=200px src="{{item.item_images.url}}"/>

                                 <div class="card-body">
                                            {{item.city}}

                                            Rs {{item.price}} /-

                                    </div>
                             </div>
                     </div>


                    {%endfor%}
</div>
            <!--{%else%}-->
                <!--<p>NO item</p>-->
            <!--{%endif%}-->
        {%endblock%}
